<%= link_to "Back", :back %>
<legend>
  <h2>Apply Job</h2>
</legend>
<div class="row">
  <div class="col-md-6">

    <div class="panel panel-primary">
      <div class="panel-heading"><%= @job.title %></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <%= @job.description %>
            <%= @job.salary %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= @applies.status %>
  </div>
</div>

