<div class="bs-docs-section row">
  <div class="bs-callout bs-callout-warning col-md-10" id="callout-navs-accessibility">
    <h3>Find the jobs</h3>
  </div>

  <div class="col-md-2">
    <br/>
    <% if @employer %>
      <%= link_to "Create Jobs", new_employer_job_path %>
    <% elsif @resume %>
      <%= link_to "Edit Resume", edit_employee_resume_path %>
    <% elsif @employee %>
      <%= link_to "Create Resume", new_employee_resume_path %>
    <% end %>
  </div>

</div>

<div class="bs-example" data-example-id="panel-without-body-with-table">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Jobs Today</h4></div>
    <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <!--th>Description</th-->
            <th>Salary</th>
            <th>Last Update</th>
            <th>Email<th>
            <%if @resume %>
              <th>Apply<th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @jobs.each_with_index do |job,index| %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <% if @employer && @employer.jobs.where(id: job.id).any?%>
                <td>
                  <%= link_to "#{job.title}", employer_jobs_path %>
                </td>
              <% else %>
                <td><%= job.title %></td>
              <% end %>

              <!--td><%= job.description %></td-->
              <% if job.salary.to_i > 0 %>
                <td><%= job.salary %></td>
              <% else %>
                <td>Negotiate</td>
              <% end %>
              <td><%= job.updated_at.localtime.strftime("At %A %d/%b/%Y %I:%M %p") %></td>
              <td><%= job.email %></td>
              <% if @resume && @resume.applies.where(job: job).any? %>
                <td>
                  <% case @resume.applies.where(job: job).first.status%>
                    <% when "Pending" %>
                      <%= "Pending" %>
                    <% when "Approve" %>
                      <%= "Approve" %>
                    <% when "Reject" %>
                      <%= "Reject" %>
                    <% else%>
                      <!--%= link_to "", apply_show_path( job: job, resume: current_user.resume), class: "glyphicon glyphicon-inbox btn btn-sm btn-info" %-->

                      <%= link_to "", job_apply_path(id: @resume.applies.where(job: job).first, job: job, resume: current_user.resume), class: "glyphicon glyphicon-inbox btn btn-sm btn-info" %>
                  <% end %>

                  <!--%= link_to "", apply_destroy_path( job: job, resume: current_user.resume), class: "glyphicon glyphicon-remove btn btn-sm btn-danger" %-->

                  <%= link_to "", job_apply_path(id: @resume.applies.where(job: job).first, job: job, resume: current_user.resume), class: "glyphicon glyphicon-remove btn btn-sm btn-danger", method: :delete %>
                <td>

              <% elsif @resume%>
                <td>
                  <%= link_to "", job_applies_path( job: job, resume: current_user.resume), class: "glyphicon glyphicon-ok btn btn-sm btn-success", method: :post %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

