<div class="bs-example" data-example-id="panel-without-body-with-table">
  <div class="panel panel-default">
    <div class="panel-heading">Jobs Request</div>
    <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Job</th>
            <th>Description</th>
            <th>Salary</th>
            <th>Last Update</th>
          </tr>
        </thead>
        <tbody>
          <% @jobs.each_with_index do |job,index| %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= job.title %></td>
              <td><%= job.description %></td>
              <% if job.salary.to_i > 0 %>
                <td><%= job.salary %></td>
              <% else %>
                <td>Negotiate</td>
              <% end %>
              <td><%= job.updated_at.localtime.strftime("At %A %d/%b/%Y %I:%M %p") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
