
<div class="row">
  <div class="col-md-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3>Edit_Resume</h3> </div>

      <div style="padding-left: 10px; padding-bottom: 10px;">
        <%= form_for [:employee, @resume] do |f| %>
          <%= f.label :description %><br/>
          <%= f.text_area :description %><br/>

          <%= f.label :salary %><br/>
          <%= f.number_field :salary, in: 0..1000000%><br/>

          <%= f.label :phone %><br/>
          <%= f.telephone_field :phone, size: 10%><br/>

          <%= f.label :education %><br/>
          <%= f.text_area :education %><br/>

          <%= f.label :experience %><br/>
          <%= f.text_area :experience %><br/>

          <%= f.file_field :attach_pdf %><br/>

          <%= f.submit "Submit" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-lg-8" style="margin: 0">
    <!--%= image_tag(@resume.attach_pdf) if @resume.attach_pdf? %-->
    <a href="https://docs.google.com/gview?url=http://prawnpdf.org/manual.pdf&embedded=true">Your Pdf Viewer</a>

    <%url = "#{request.protocol}#{request.host_with_port}#{@resume.attach_pdf}" %>
    <br/>
    <a href="https://docs.google.com/gview?url=#{url}&embedded=true">Your Pdf Viewer</a>


    <iframe src="http://docs.google.com/viewer?url=http://prawnpdf.org/manual.pdf&embedded=true"
      width="100%" height="800" >
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>

</div>
